
/*List view color changes*/
table.o_list_view tbody tr:hover{
    background-color: #7c7aad;
    color:#ffffff
}
table.o_list_view tbody tr:nth-of-type(2n+1):hover{
    background-color: #7c7aad !important;
    color:#ffffff
}
table.o_list_view tbody tr.row_selected{
    background-color: #a12990;
    color:#ffffff
}
